<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
    <script src="/js/bootstrap.min.js.map"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <title>Proyectos</title>
</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#" th:text="${titulo}">Práctica 1.1</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li th:if="${admin}" class="nav-item">
                        <a class="nav-link" href="/admin">Administrador</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Proyectos<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/endpoint">Configurar Endpoint</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/perform_logout">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        <div class="container-fluid">
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Administración de Proyectos</h4>
                            <!-- <p class="card-category"></p> -->
                        </div>
                        <div class="card-body">
                            <div class="content">
                                <!--Acortadores registrados-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th class="col-md-2">
                                                ID
                                            </th>
                                            <!--Si no es admin-->
                                            <th class="col-md-5">
                                                Endpoints
                                            </th>
                                            <th class="col-md-5">
                                                Acciones
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="proyecto : ${proyectos}">
                                                <td>[[${proyecto.id}]]</td>
                                                <td>
                                                    <ul>
                                                        <li th:each="endpoint:${proyecto.endpoints}">[[${endpoint.method+endpoint.path}]]
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <a th:href="${'./p/'+proyecto.id}">
                                                        <button class="btn btn-secondary">Ver</button>
                                                    </a>
                                                    <a th:href="${'./delete/'+proyecto.id}">
                                                        <button class="btn btn-danger">Eliminar</button>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="./new">
                                        <button class="btn btn-primary">Agregar <span style="font-size:16px; font-weight:bold;">+ </span></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container text-center ">
            <script>
                document.write(new Date().getFullYear())
            </script>,
            <a class="text-reset fw-bold " href="https://github.com/Audric1Rosario/ProgramacionWebAvanzada">Audric y Zhen</a>
        </div>
    </footer>
</body>

</html>